







#macro(genHtmlLink $url $textColor $bodyContent)
    <a href="$url"><font color="$textColor">&bodyContent</font></a>
#end

<html>
    <head>
    <body bgcolor="#a9a9a9">

    Congratulations, ${ctx.displayName},

    <div>

        You are Eligible for Premium Membership.
        Since your cart value is above 300, complete your order and get the premium membership benefits.

        Regards
        Training Storefront Website

    </div>

    </body>
    </head>
</html>